@{
    ViewData["Title"] = "Home";
}
</br>
<div class="row pt-5">
    <div class="col-md-6">
        <div class="card text-center border-0">
            <div class="card-header bg-success">
                <h1 class="text-white"><i class="fa-solid fa-list"></i> Todo List</h1>
            </div>
            <div class="card-body">
                <table id="todotbl" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" width="10%">#</th>
                            <th scope="col" width="50%">Todo Lists</th>
                            <th scope="col" width="15%">Date</th>
                            <th scope="col" width="25%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @index
                                </td>
                                @{
                                    index++;
                                }
                                <td>
                                    @item.list
                                </td>
                                <td>
                                    @item.formatdate(item.finish_date)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning btn-sm">
                                        <i class="fa fa-pen"></i>
                                    </a>

                                    <a type="button" class="btn btn-danger btn-sm text-dark" onclick=Delete('/Home/Delete/@item.id')>
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="card border-0">
            <div class="card-header bg-success text-center">
                <h1 class="text-white"><i class="fa-solid fa-plus-circle"></i> Add Todo List</h1>
            </div>
            <form method="post" asp-action="AddList" asp-controller="Home">
                <div class="card-body">
                    <div class="form-group pt-2">
                        <label class="form-label" for="">
                            <h6>Todo List Topic</h6>
                        </label>
                        <input type="text" class="form-control" name="list" id="list" required>
                    </div>
                    <div class="form-group pt-2">
                        <label class="form-label" for="">
                            <h6>Finish Date</h6>
                        </label>
                        <input type="date" class="form-control" id="finishdate" name="finish_date">
                    </div>

                    <div class="form-group pt-2">
                        <label class="form-label" for="priority_range">
                            <h6>Priority</h6>
                        </label>
                    </div>
                    <input type="range" class="form-control-range col-12" name="priority" min="1" max="3" step="1"
                        value="1" id="priority_range">
                    <div class="row pt-2">
                        <div class="col-4 text-start text-danger">
                            Less
                        </div>

                        <div class="col-4 text-center text-danger">
                            medium
                        </div>

                        <div class="col-4 text-end text-danger">
                            More
                        </div>
                    </div>

                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="reset" class="btn btn-danger">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#todotbl').DataTable({
            searching: false,
            lengthChange: false,
            pageLength: 5,
            ordering: false
        });

        $('#finishdate').pickadate({
            format: 'dd/mm/yyyy',
            formatSubmit: 'mm/dd/yyyy',
            hiddenName: true
        });
    });

    function Delete(url) {
        Swal.fire({
            title: 'Deleted',
            text: "Are you sure to delete this todo list ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted Successfully !',
                    'Your todo list has been deleted.',
                    'success'
                ).then((result) => {
                    @* Ajax *@
                    $.ajax({
                        type: "POST",
                        url: url,
                        success: (data) => {
                            location.href = "/"
                        }
                    });
                })
            }
        })
    }
</script>
}
